header{
    background: url(../img/gioithieubg.jpg) no-repeat;
}
header .tieude{
    color: orange;
    text-align: right;
    line-height: 100px;
    padding: 50px 0;
}
header .tieude span{
    color: black; font-weight: bold;
    margin-top: -40px; display: block;
}
#brand{
    margin-bottom: -60px;
}
#menu a{
    color: black;
    font-size: 22px;
    color: black;
    display: inline-block;
    padding: 10px 10px;
}
#menu a:hover{
    background-color: black;
    opacity: 0.7;
    color: orange;
}
#loop{
    background: orange;
}
#cart{
    color: black;
    font-size: 32px;
    margin-left: 15px;
}
#infor{
    background: black;
    opacity: 0.7;
    margin: 100px 0;
    text-align: center;
    padding: 30px;
}
#tuvan{
    background: rgb(248, 124, 7);
    color: white; font-weight: bold;
    border: none;
    width: 30%;
    margin: auto;
}
main{
    padding: 30px 0;
}
main .card .card-body button{
    background: orange;
    color: wheat;
}
#detail{
    display: none;
    position: fixed; top: 15%; left: 0;
}
#detailblock{
    height: auto;
    margin: auto;
    background: green; opacity: 0.9; color: white;
    padding: 30PX 50px; color: black;
}
#detailblock #close{
    float: right; color:black;
    border: none; background: none;
}
#detailblock #close:hover{
    color: red;
}
#detailblock #close :focus{
    outline: 0;
}
#detailblock label{
    width: 40%; float: left; margin-top: 5px;
}
#detailblock .input{
    width: 60%; float: left;
    margin-bottom: 10px;
}
#addtocart:hover{
    background: white; color: orange;
}
#addtocart{
    border: none; background: orange; color: white;
}
#d_price{
    font-size: 25px; color: red; font-weight: bold;
}
#d_describe{
    margin-top: 20px;
}
.card span.card-text{
    color: orange; font-weight: bold;
}
.card span{
    font-weight: bold;
}

/* STicky */
#menusticky{
    position: fixed;
    top: 0;
    left: 100px;
    background: orange;
    transition: all 2s;
}





/*  */
#giohang{
   
}
h4{
    color: orange; text-align: center;
}
#carttable{
    width: 100%; height: auto;
}
#carttable #tr1{
    font-size: 18px; font-weight: bold;
}
.cartprice{
    color: green; font-weight: bold;
}
.carttotal{
    font-weight: bold;
}
#carttable img{
    width: 50px;
}
#carttable td{
    text-align: right;
}
.cartdel{
    background: orange;
    border: none; opacity: 0.6;
    border-radius: 5px; width: 30px; height: 30px;
    padding-bottom: 3px; 
}
.cartdel:hover{
   opacity: 1;
}

#tamtinh{
    width: 100%;
}

#tamtinh td{
    font-size: 22px;
    padding: 10px 0;
}
#green{
    color: green; font-weight: bold;
}
.right{
    text-align: right;
}
#colum1{
    padding: 30px;
    background: black;
    color: wheat; opacity: 0.7;
}
#colum2{
    padding: 30px;
    background: orange; opacity: 0.9;
}
#dathang{
    background: green; color: wheat;
    border: none;
}
#dathang:hover{
    background: wheat; color: orange;
}
.p_total{
    width: 50px; text-align: right;
}



/*  */
footer{
    width: 100%; height: 130px;
    background: url(../img/footer.PNG) no-repeat;
    background-size: 100% 100%;
}