header{
    background: url(../img/gioithieubg.jpg) no-repeat;
    background-size: 100% 100%;
}
header .tieude{
    color: orange;
    text-align: right;
    line-height: 100px;
    padding: 50px 0;
}
header .tieude span{
    color: black; font-weight: bold;
    margin-top: -40px; display: block;
}
#brand{
    margin-bottom: -60px;
}
#menu a{
    color: black;
    font-size: 22px;
    color: black;
    display: inline-block;
    padding: 10px 10px;
}
#menu a:hover{
    background-color: black;
    opacity: 0.7;
    color: orange;
}
#loop{
    background: orange;
}
#cart{
    color: black;
    font-size: 32px;
    margin-left: 15px;
}
#infor{
    background: black;
    opacity: 0.7;
    margin: 100px 0;
    text-align: center;
    padding: 30px;
}
#tuvan{
    background: rgb(248, 124, 7);
    color: white; font-weight: bold;
    border: none;
    width: 30%;
    margin: auto;
}
main{
    padding: 30px 0;
}
main .card .card-body button{
    background: orange;
    color: wheat;
}
#detail{
    display: none;
    position: fixed; top: 15%; left: 0;
}
#detailblock{
    height: auto;
    margin: auto;
    background: orange; opacity: 0.9; color: white;
    padding: 30PX 50px; color: black;
}
#detailblock #close{
    float: right; color:black;
    border: none; background: none;
}
#detailblock #close:hover{
    color: red;
}
#detailblock #close :focus{
    outline: 0;
}
#detailblock label{
    width: 40%; float: left; margin-top: 5px;
}
#detailblock .input{
    width: 60%; float: left;
    margin-bottom: 10px;
}
#addtocart:hover{
    background: white; color: orange;
}
#addtocart{
    border: none; background: green; color: white;
}
#d_price{
    font-size: 25px; color: green; font-weight: bold;
}
#d_describe{
    margin-top: 20px;
}
.card span.card-text{
    color: orange; font-weight: bold;
}
.card span{
    font-weight: bold;
}

/* STicky */
#menusticky{
    position: fixed;
    top: 0;
    left: 100px;
    background: orange;
    transition: all 2s;
}

footer{
    width: 100%; height: 130px;
    background: url(../img/footer.PNG) no-repeat;
    background-size: 100% 100%;
}