header{
    background: url(../img/gioithieubg.jpg);
   
}
header .tieude{
    color: orange;
    text-align: right;
    line-height: 100px;
    padding: 50px 0;
}
header .tieude span{
    color: black; font-weight: bold;
    margin-top: -40px; display: block;
}
#brand{
    margin-bottom: -60px;
}
#menu a{
    color: black;
    font-size: 22px;
    color: black;
    display: inline-block;
    padding: 10px 10px;
}
#menu a:hover{
    background-color: black;
    opacity: 0.7;
    color: orange;
}
#cart{
    color: black;
    font-size: 32px;
    margin-left: 15px;
}


/* STicky */
#menusticky{
    position: fixed;
    top: 0;
    left: 100px;
    background: orange;
    transition: all 2s;
}

footer{
    width: 100%; height: 130px;
    background: url(../img/footer.PNG) no-repeat;
    background-size: 100% 100%;
   
   
}



/* main */
main{
    margin-bottom: 130px;
}
#form1, #form2{
    padding: 40px;
    background: orange;
    display: none;
}
H4{
    background: green; color: white;
    text-align: center; padding: 10px;
}
label{
    display: none;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#form1 span{
    font-size: 14px;
}
#save1, #save2, #btntm, #btnck{
    background: rgb(69, 106, 230);
    border: none; color: wheat;
    font-weight: bold;
}
#btntm, #btnck{
    background: rgb(69, 106, 230);
    border: none; color: wheat;
    font-weight: bold; display: none;
}
#save1:hover, #save2:hover, #btntm:hover, #btnck:hover{
    background: green;
}
.donhang{
    display: ;
    padding: 40px;
    background: orange;
}
.donhang tr{
    width: 100%;
}

.alert{
    color: red;
    font-size: 12px; 
    font-family: 'Times New Roman', Times, serif;
}
.donhang{
    display: ;
    background: orange;
    padding: 30px;
    width: 100%;
}
#infortm{
    margin: auto;
    width: 100%;
}
#inforck{
    margin: auto;
    width: 100%;
}
.infor{
    text-align: right;
}
#form_ck{
    display: none;
}

/* Khung xác nhận đặt hàng */
/*  */
#khung3{
    position: fixed;
    top: 40%; left: 0%;
    width: 100%;
    display: none;
}
#khungxn{
    padding: 20px;
    background: orange; opacity: 0.9;
}
#khung3 h6{
    text-align: center;
}
#khung3 button{
    width: 40%; margin: 0 5%;
    float: left;
   
}
#confirm{
    background: green;
    border: none; color: white;
}
#khungPIN{
    position: fixed;
    top: 40%; left: 0%;
    width: 100%;
    display: none;
}
#pinxn{
    background: white;
    text-align: center;
}